.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 0 0 250px;
}

.content {
  flex: 1;
  overflow-y: auto; 
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #28a745;
  color: white;
}

button:active {
  transform: scale(0.95);
}


